<h1>Flickr Widget</h1>

<p>This is a small widget that allows you to view any user's public photostream just by searching their ID.</p>
<br>
<p>No bells. No whistles. No ads.</p>
<br>
<p>Just you and the stream.</p>

<hr>

<p>This project was designed as part of The Odin Project's Ruby on Rails course for its <a href="https://www.theodinproject.com/lessons/apis">"Project: APIs"</a> lesson. This project is intended to demonstrate proficiency with using foreign APIs securely.</p>

<p>Written by <a href="https://github.com/Gageperrin?tab=repositories">N.G. Perrin</a>. Repository can be found <a href="https://github.com/Gageperrin/members-only">here</a>. Refactoring and optimization feedback are welcome.</p>
