<h1>Flicka App</h1>

<p>Created as part of <a href="https://www.theodinproject.com/">The Odin Project</a> API section.</p>

<p>This app uses the Flickr Api to access pictures stored in Flickr.</p>
<ol>
	<li>Input a Flickr ID and the pictures belonging to that account are returned.</li>
</ol>

<%= link_to "Find GitHub repository here.", 'https://github.com/GagePerrin/flickr-widget' %>
<p>N. G. Perrin</p>
